/*
* @Author: Administrator
* @Date:   2017-12-06 11:19:34
* @Last Modified by:   Administrator
* @Last Modified time: 2017-12-06 11:34:01
*/
.section { 
	text-align: center; 
	font: 50px "Microsoft Yahei"; 
	color: #fff;
}